<div class="container-pai">
    <div class="container-filho1">
        <div class="img-exemplo">
        </div>
    </div>

    <div class="container-filho2">
        <div>
            <img src="../assets/images/logo.png" alt="">
            <h1>Login</h1>
        </div>

        <div class="inputs">
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail">
        </div>
        <div class="inputs">
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha">
        </div>

        <div class="botao">
            <button routerLink="home">Entrar</button>
        </div>

        <div class="links">
            <p>Ainda não possui conta?</p>
            <a routerLink="register">Cadastre-se</a>
        </div>
    </div>



</div>