<div class="container-pai">
    <div class="container-filho1">
        <div class="img-exemplo">
        </div>
    </div>

    <div class="container-filho2">
        <div>
            <img src="../assets/images/logo.png" alt="">
            <h1>Registro</h1>
        </div>

        <div class="inputs">
            <label for="text">Nome</label>
            <input type="text" placeholder="Digite seu nome">
        </div>
        <div class="inputs">
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail">
        </div>
        <div class="inputs">
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha">
        </div>
        <div class="inputs">
            <label for="password">Confirmação da Senha</label>
            <input type="password" placeholder="Redigite sua senha">
        </div>

        <div class="botao">
            <button routerLink="/">Cadastrar</button>
        </div>

        <div class="links">
            <p>Possui conta?</p>
            <a routerLink="/">Entrar</a>
        </div>
    </div>



</div>